.container {
  width: 85%;
  margin: auto;
}

h1 {
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  color: rgb(75, 75, 75);
}

.content {
  width: 100%;
}

.badge button {
  margin-top: 1rem;
  width: 100%;
}

p {
  text-align: end;
  font-weight: 500;
  color: rgb(93, 91, 91);
  padding-bottom: 0;
}

mat-card {
  margin-top: 0.8rem;
  padding: 0.2rem;
}
